{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-8">
        <div class="card border-0 shadow-sm">
            <div class="card-body p-4">
                <h1 class="h4 mb-4">{{ title }}</h1>
                <form method="post" class="row g-3">
                    {{ form.hidden_tag() }}
                    <div class="col-md-6">
                        {{ form.pond_id.label(class="form-label") }}
                        {{ form.pond_id(class="form-select") }}
                    </div>
                    <div class="col-md-6">
                        {{ form.fish_type_id.label(class="form-label") }}
                        {{ form.fish_type_id(class="form-select") }}
                    </div>
                    <div class="col-md-6">
                        {{ form.customer_name.label(class="form-label") }}
                        {{ form.customer_name(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {{ form.activity_date.label(class="form-label") }}
                        {{ form.activity_date(class="form-control") }}
                    </div>
                    <div class="col-md-4">
                        {{ form.start_time.label(class="form-label") }}
                        {{ form.start_time(class="form-control") }}
                    </div>
                    <div class="col-md-4">
                        {{ form.duration_hours.label(class="form-label") }}
                        {{ form.duration_hours(class="form-control") }}
                    </div>
                    <div class="col-md-4">
                        {{ form.catch_weight.label(class="form-label") }}
                        {{ form.catch_weight(class="form-control") }}
                    </div>
                    <div class="col-12">
                        {{ form.note.label(class="form-label") }}
                        {{ form.note(class="form-control", rows="4") }}
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary">{{ form.submit.label.text }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
